// Colors
$color-brand-primary: #212121;
$color-brand-secondary: #454545;
$color-brand-tertiary: #A8A8A8;

$color-ui-accent: #212121;
$color-ui-info: #0084F4;
$color-ui-danger: #FF647C;
$color-ui-warning: #FFCF5C;
$color-ui-success: #00C48C;
$color-ui-other: #FFA26B;

$color-ui-white: #FFFFFF;
$color-ui-black: #1A051D;
$color-ui-gray: #C6CACC;

//Types Colors
$color-type-darkness: #80B1C6;
$color-type-grass: #B6DA7F;
$color-type-metal: #C6C6C6;
$color-type-lightning: #EBE082;
$color-type-fire: #F4A86E;
$color-type-colorless: #B3BEBC;
$color-type-water: #87C6EC;
$color-type-psychic: #fff;
$color-type-dragon: #fff;
$color-type-fighting: #fff;

// UI COLORS
$color-ui-transparent: transparent;

:export {
  colorBrandPrimary: $color-brand-primary;
  colorBrandSecondary: $color-brand-secondary;
  colorBrandTertiary: $color-brand-tertiary;
  colorUIAccent: $color-ui-accent;
  colorUIDanger: $color-ui-danger;
  colorUIWarning:$color-ui-warning;
  colorUISuccess: $color-ui-success;
  colorUIWhite: $color-ui-white;
  colorUIBlack: $color-ui-black;
  colorUIGray: $color-ui-gray;
  colorTypeDarkness: $color-type-darkness;
  colorTypeGrass: $color-type-grass;
}