@import './variables.scss';
@import './utils/reset';
@import './utils/normalize';

@import "./layouts/flexbox";
@import "./layouts/grid";
@import "./layouts/colors";
@import "./layouts/sizes";
@import "./layouts/spacing";
@import "./layouts/states";


.font-family-01 { font-family: $font-family-01;}

#app, body {
  font-family: $font-family-01;
  color: $color-brand-primary;
  background-color: $color-brand-tertiary;
}
