.poke-input {
    margin: 0;
    label {
      margin: 0 5px 0 1px ;
      color: #595959;
    }
    input {
      width: 100%;
      font: 500 16px Rubik;
      display: block;
      background-color: #ffffff;
      border: 1px solid #bdc2c6;
      border-radius: 64px;
      color: #444444;
      outline: 0;
      padding: 8px 16px;
    }
  }
