.cards-list {
    display: grid;
    width: 100%;
    margin-bottom: 32px;
    overflow-y: auto;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 8px;
    @media only screen and (min-width: 960px) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        overflow: inherit;
    }
}
